<html>


  <head>

    <style>
    body {
      background-color: #f2f2f2;
      font-family: sans-serif;
    }

    textarea {
  z-index: 4;
    }

    input {
  z-index: 0;
  }


  </style>

    <script type="text/javascript">
    
async  function async_http_get(url)
{
    
  try {
    const response = await fetch(url, {method:'get'}); 
    if (!response.ok) {
      throw new Error(`HTTP error: ${response.status}`);
    }
    const data = await response.json();
    //console.log("FOUND: " + JSON.stringify(data));
    //alert(JSON.stringify(dat));
    //return JSON.stringify(data);
    return(data);
  }
  catch (e) {
    console.log('Error'+e);
    return (null);
  }
  

}



async function get_all_dhaatus(){
    console.log("Now fetching dhaatus");
    // Make a GET request to the server using the value
        var typestring  = "dhaatus";
        var return_response = "";
        return_response= await async_http_get("http://research.anurags-econ.net/query_sanskrit/?type=dhaatus");

        return return_response;
     
      }
    

window.onload = function() {
  // Function to be called before window is loaded
  // Get references to the text box

  //// const textBox = document.getElementById('input1');  
  //// textBox.addEventListener('keypress', (e) => {
  //// var keyPressed= `${e.key}`;
  //// document.getElementById("console").innerHTML = keyPressed;
  //// });


  // set total count to 0


  
  document.getElementById('divBoxes').setAttribute('count',0);
  
  // the first createSet is for dhaatus and it should be invoked
  // when dhaatu-list has arrived

  fs1= createSet(1,100,200,"dhaatu");
  
}


async function createSet (i,x,y,input_type){

  var starter = document.getElementById("starter");
  
  var count = document.getElementById('divBoxes').getAttribute('count');

  // this call should update the UI element asynchronously
  var options_returned = null;
  if (input_type == "dhaatu"){
      var dhaatus = await get_all_dhaatus();
      options_returned = JSON.parse(dhaatus['Data']);
      console.log("dhaatu");
  } else if (input_type=='pratyaya'){
      options_returned = {'shas':'sup','jhi':'tip'};
      console.log("Pratyaya"+ JSON.stringify(options_returned));
  } else  {
      console.log("Invalid type for createSet");
      return null;
  }
  
  
  
  

  // ARRAY CHECK
  //if (boxArr.includes(i)){}
  if (i - count <=0 ){
    alert ("already exists");
    return null;
  }
  
  var fs = document.createElement("fieldset");  
  var W = 100;
  var H = 70;
  var d = 10;
  var s = 20;

  fs.style.position ="absolute";
  fs.style.top = y;
  fs.style.left= x ;
  fs.style.width= W;
  fs.style.height = H;

  
  var txta = document.createElement("textarea");    
  txta.id="console"
  txta.style.position ="absolute";
  txta.readOnly = true;
  // text area is inside the fieldset and touches fs boundary on top (not on bottom)
  txta.style.top = y;
  // text area is inside the fieldset so starts a bit more right (higher left value)
  txta.style.left= x+d ;
  // text area is less wide to be symmetrical (hence 2*d)

  txta.style.width= W -d*2;
  // height is only H- s 
  txta.style.height = H-s;


//// for (let i = 0; i < arrayOfStrings.length; i++) {
////   const currentString = arrayOfStrings[i];
////   // Do something with currentString
//// }


  var optionslist= document.createElement("datalist");
  optionslist.id = "optionsid_"+i;
  //var option1 = document.createElement("option");
  //option1.value = "option1";
  //optionslist.appendChild(option1);
  
  
  // iterating over options_returned to populated the options 
  // for selection/editing
  console.log("options_returned"+ JSON.stringify(options_returned));
  for (let row in options_returned) {
    var option = document.createElement("option");
    option.value = row;
    optionslist.appendChild(option);
  }


  var inp = document.createElement("input");    
  inp.id="input_"+i;
  inp.setAttribute('list','optionsid_'+i);
  //inp.type="text";
  inp.name='input_'+i;
  inp.list = "options";
  inp.style.position ="absolute";
  // the input box itself is s down from y
  inp.style.top = y+H-s;
  inp.style.left= x+d;
  // symmetrical so adjusted width
  inp.style.width= W-2*d;
  inp.style.height =s;
  inp.appendChild(optionslist)


  var button = document.createElement("button");    
  button.id="buttonPlus";
  button.innerHTML ="+";
  button.type="button";
  button.style.position ="absolute";
  // the button is of width d and is aligned with input horizontally (same y)
  button.style.top = y+H-s;
  // it touches the right boundary 
  button.style.left= x+W-d ;
  button.style.width= d;
  button.style.height =s;

  // Add an event listener to the button

  /**
   * the event listener would add another UI unit
   * and update the record of boxes
   */   
  button.addEventListener('click', (e) => {
    // Get the value of the input-text field
    // var user_input = inp.value;
    createSet(i+1,x+W+3*d,y,'pratyaya');


  });

  starter.appendChild(fs);
  starter.appendChild(txta);
  starter.appendChild(inp);
  starter.appendChild(button);
  //starter.appendChild(fs);
  
  document.getElementById('divBoxes').setAttribute('count',i);
  var count = document.getElementById('divBoxes').getAttribute('count');
  

  return starter;
}


// One way to get a mandatory input is using prompt.
// let input = prompt("Please enter your name:");
// if(input !== null) {
//  console.log("Your name is " + input);
// }
// let response = confirm("Do you like JavaScript?");

    </script>



  </head>
  <body>

<div id="starter" />

<div id="divBoxes" />

    <!--input  style="position:absolute; top:40; left:0;width:100px; height:30px;" type="text" id="input1" /-->
    <!--button style="position:absolute;top:40;left:100;width:20px; height:20px;" type="button" >+</button-->
    
  </body>
</html>